<h2>Создание статьи</h2>
<br>
<br>
<div class="m-3 col-md-6">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label> Заголовок статьи <input type="text" class="from-control" name="name"></label><br>
            <label> Текст статьи <textarea name="text"></textarea></label>

        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label"> img<input type="file" class="from-control" id="inputImg"name="img"></label><br>

        </div>
        <input type="submit" class="btn btn-primary" value="Создать статью">
    </form>

</div>