<main>
    <h2>Последние новости</h2>

    <article class="article">
        <h3>Важное событие произошло в городе</h3>
        <img src="images.jpg" alt="Изображение новости">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</p>
        <a href="#" style="color: #2a9d8f; text-decoration: none; font-weight: bold;">Читать далее...</a>
    </article>

    <article class="article">
        <h3>Новое исследование в области науки</h3>
        <img src="multfilm_pingviny.jpg" alt="Изображение исследования">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <a href="#" style="color: #2a9d8f; text-decoration: none; font-weight: bold;">Читать далее...</a>
    </article>

    <article class="article">
        <h3>Обзор предстоящих событий</h3>
        <p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est
            eros bibendum elit, nec luctus magna felis sollicitudin mauris.</p>
        <a href="#" style="color: #2a9d8f; text-decoration: none; font-weight: bold;">Подробнее...</a>
    </article>
</main>